<footer class="page-footer grey lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="mochi-footer">
                    <img src="assets/mochi.png" alt="Mochi Logo" />
                    <div class="row">
                        <img class="footer-icons" src="assets/facebook-icon.png" alt="Facebook Logo" />
                        <img class="footer-icons" src="assets/twitter-icon.png" alt="Twitter Logo" />
                        <img class="footer-icons" src="assets/youtube-icon.png" alt="Youtube Logo" />
                        <img class="footer-icons" src="assets/whatsapp-icon.png" alt="WhatsApp Logo" />
                        <img class="footer-icons" src="assets/instagram-icon.png" alt="Instagram Logo" />
                    </div>
            
                </div>
                </div>
                </div>
            </div>

            <div class="col l6 s12">
                <div class="row">
                    <div class="col l2">
                        <a href="sass.html">Home</a>
                    </div>
                    <div class="col l2">
                        <a href="sass.html">Contato</a>
                    </div>
                    <div class="col l2">
                        <a href="sass.html">Sobre</a>
                    </div>
                    <div class="col l2">
                        <a href="sass.html">Depoimentos</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright" style="background-color: transparent;">
            <div class="blue-grey-text">
                    © MOCHI. Todos os direitos reservados.
            </div>
        </div>

    </div>
</footer>

<script src="/js/materialize.min.js"></script>
<script>
    M.AutoInit();
</script>
</body>

</html>