<!--header com logo e botão de cadastro <img src="assets/mochi.png" alt="Mochi Logo"/>-->
<header>
    <nav id="main-navbar" class="grey lighten-1">
        <div class="nav-wrapper ">
            <div class="logo">
                <a href="#!" class="brand-logo left"> <img id="logo-image" src="assets/mochi.png"
                        alt="Mochi Logo" /></a>
            </div>
        </div>
    </nav>
</header>