<!--header com logo e botão de cadastro <img src="assets/mochi.png" alt="Mochi Logo"/>-->
<header>
    <nav class="grey lighten-5" id="main-navbar">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo left"> <img class="responsive-img" id="logo-image" src="assets/mochi.png"
                    alt="Mochi Logo" /></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="http://localhost:3000/cadastro" class="waves-effect waves-light btn">Cadastre-se</a></li>
            </ul>
        </div>
        </div>
    </nav>
</header>

<ul class="right sidenav" id="mobile-demo">
    <li><a href="http://localhost:3000/cadastro" class="waves-effect waves-light btn">Cadastre-se</a></li>
</ul>