<!--header com logo e botão de cadastro <img src="assets/mochi.png" alt="Mochi Logo"/>-->
<header>
    <nav class="grey lighten-5" id="main-navbar">
        <div class="nav-wrapper container">
            <div class="logo">
                <a href="#!" class="brand-logo left"> <img class="responsive-img" id="logo-image" src="assets/mochi.png" alt="Mochi Logo" /></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light btn">Cadastre-se</a></li>
                  </ul>
            </div>
        </div>
    </nav>
</header>