<!--header com logo e botão de cadastro <img src="assets/mochi.png" alt="Mochi Logo"/>-->
<header>
    <nav>
        <div class="nav-wrapper">
            <div class="logo">
                <a href="#!" class="brand-logo left"> <img id="logo-image" src="assets/mochi.png"
                        alt="Mochi Logo" /></a>
            </div>
            <!--<ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          </ul>-->
        </div>
    </nav>
</header>