<div class="city-search-bar grey lighten-1">
    <div class="input-field col s12">
        <input type="text" id="city-autocomplete" class="autocomplete" placeholder="Digite o nome da sua cidade...">
    </div>

    <button id="search-button" class="btn waves-effect waves-light" type="button" name="action">
        <i class="material-icons">search</i>
    </button>
</div>