<div class="col s12 m6 l4">
    <div class="card">
        <div class="card-image">
            <img
                src="https://s2.glbimg.com/uQ930f0FX-hPF9EV0w_G8o_Vn7I=/0x0:961x518/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/j/K/gBh3gLSHe3dxIWb27rZQ/primoferreiraescola.jpg">
        </div>
        <div class="card-content grey lighten-1">
            <h5><b>E. E. Prof. Primo Ferreira</b></h5>
            <p><b>4 mochilas</b> precisam da sua doação</p>
        </div>
        <div class="card-action">
            <button class="btn-small" style="float: right; margin-top: 10px;"><b>Quero doar
                </b></button>
            <p><b>Santos - SP</b></p>
        </div>
    </div>
</div>