<!-- Modal Structure -->
<div id="modal-success" class="modal">
  <div class="modal-content">
      <img src="/assets/success.svg" class="responsive-img img-center" alt="image-success">
      <h4 class="center-align blue-grey-text"><b>Seu cadastro foi realizado com sucesso!</b></h4>
  </div>
  <p class="center-align">
      <a href="/" class="modal-close waves-effect waves-green btn-large">Legal!</a>
  </p>
</div>
