<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>
        <%= title %>
    </title>

</head>

<body>

    <h1 class="center-align"><b>Teste - Mochi 🎒</b></h1>


        <p>    <%= JSON.stringify(materials) %> </p>
    <h5 class="center-align">


    <div class="container">
        <div class="row">
            <div class="col s8">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="https://img.kalunga.com.br/fotosdeprodutos/139100d.jpg" alt="" class="circle">
                        <h6><b>Caderno universitário capa dura</b></h6>
                        <p>R$ 9,90</p>
                        <label class="secondary-content">
                            <input type="checkbox" />
                            <span></span>
                        </label>
                    </li>

                    <li class="collection-item avatar">
                        <img src="https://img.kalunga.com.br/fotosdeprodutos/410675d.jpg" alt="" class="circle">
                        <h6><b>Lápis preto técnico </b></h6>
                        <p>R$ 15,60</p>
                        <label class="secondary-content">
                            <input type="checkbox" />
                            <span></span>
                        </label>
                    </li>

                    <li class="collection-item avatar">
                        <img src="https://img.kalunga.com.br/fotosdeprodutos/178534d.jpg" alt="" class="circle">
                        <h6><b>Caneta esferográfica</b></h6>
                        <p>R$ 4,80</p>
                        <label class="secondary-content">
                            <input type="checkbox" />
                            <span></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <script src="/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>
