<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
      <link rel="stylesheet" href="/css/materialize.min.css">
</head>

<body>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Site <strong>
                <%= title %>
            </strong> em construção!</p>
            <a href="/cadastro" class="waves-effect waves-light btn">cadastro</a>
    </main>
    <footer>
        <p>Versão <%= version %>
        </p>
    </footer>
</body>

</html>
