<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Site <strong>
                <%= title %>
            </strong> em construção!</p>
    </main>
    <footer>
        <p>Versão <%= version %>
        </p>
    </footer>
</body>

</html>