html,
body {
  height: 100%;
  overflow-x: hidden;
}

#everything {
  min-height: 100%;
  min-width: 100vw;
  position: relative;
}

#content {
  padding-bottom: 290px;
}

header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
  background-color: #fafafa;
}

#copyright {
  color: #23475F;
}

.materials-label {
  margin: 131px 0px 0px 45px;
}

.materials-label h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #34495e;
}

.materials-label h1 span {
  display: block;
  font-weight: 500;
}

.city-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 45px;
  top: 313px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 45px;
  max-width: 100%;
}

#search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

#city {
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
  margin-left: 5px;
  padding-left: 10px;
  background: #fafafa;
  background-color: #fcfcfc;
  border: 0 !important;
}

.card-image {
  background: rgba(52, 152, 219, 0.1);
  text-align: center;
}

.card #button {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-icons {
  width: 25.92px;
  height: 21.22px;
  top: 1694.7px;
  margin-left: 10px;
}

footer ul {
  display: flex;
  justify-content:space-between; 
}

.my {
  margin: 50px 0px;
}

.btn-align-center {
  display: block;
  margin: 15px auto 0 auto;
}

.icon-center{
  vertical-align: bottom !important;
}

.text-medium { font-weight: 500; font-size: 28px;}
.text-semibold { font-weight: 600; }
.text-bold { font-weight: 700; }

.center-modal {
  display: flex;
}

.center-modal .modal {
  width: auto;
}