
<!--Navbar-->
<nav class="white">
    <!--Add container-->
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
          <img src="images/mochi.png" alt="">
    </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">About</a></li>
        <li><a href="collapsible.html">Contact</a></li>
      </ul>
    </div>
</nav>


<!--Banner-->
<section class="grey lighten-1">

    <!--Schema - .container>.row>.col.s6-->
    <div class="container">
        <div class="row">
            <div class="col s6">
                 <!-- Note that "m4 l3" was added -->
                 <div class="materials-label">
                    <h1>Doe materiais escolares <span>na sua região </span></h1>
                </div>
                <div class="city-search-bar">
                    <input placeholder="Digite o nome da sua cidade..." id="city" type="text">
                    <button id="search-button" class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
            <div class="col s6">
                <img src="images/main-banner.png" alt="Mochi Logo" />
            </div>
        </div>
    </div>

</section>