<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/home.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>
        <%= title %>
    </title>

</head>

<body>

    <!--header com logo e botão de cadastro <img src="assets/mochi.png" alt="Mochi Logo"/>-->
    <header>
        <nav>
            <div class="nav-wrapper">
                <div class="logo">
                    <a href="#!" class="brand-logo left"> <img id="logo-image" src="assets/mochi.png"
                            alt="Mochi Logo" /></a>
                </div>
                <!--<ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
              </ul>-->
            </div>
        </nav>
    </header>

    <!-- Page Layout here -->
    <div class="main-banner-row row grey lighten-1">
        <div class="main-banner-left col l6">
            <!-- Note that "m4 l3" was added -->
            <div class="materials-label">
                <h1>Doe materiais escolares <span>na sua região </span></h1>
            </div>
            <div class="city-search-bar">
                <input placeholder="Digite o nome da sua cidade..." id="city" type="text">
                <button id="search-button" class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </div>

        <div class="main-banner-right col l6">
            <!-- Note that "m8 l9" was added -->
            <img src="assets/main-banner.png" alt="Mochi Logo" />
        </div>
    </div>

    <!--dic com banner e input de cidades-->

    <!--div com cards-->

    <!--footer-->


    <script src="/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>